<!DOCTYPE HTML>
<html>
<head>
  <title></title>
</head>
<body>
  <h3>Welcome to Dynamo!</h3>
  <ol>
    <li>Change this template at <code>app/templates/index.html.eex</code></li>
    <li>Add new routes at <code>app/routers/application_router.ex</code></li>
    <li>Deploy to production with <code>MIX_ENV=prod mix do compile, server</li>
  </ol>

  <form action="upload_file" method="post" enctype="multipart/form-data">
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" name="submit" value="Submit" />
  </form>
</body>
</html>
